* {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-size: cover;
}

a {
  cursor: pointer;
}

.introduction {
  text-align: center;
  height: 100vh;
  background-image: url("./images/bridge.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-size: cover;
  width: 100%;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .introduction {
    text-align: center;
    background-image: url("./images/bridgemob.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-size: cover;
    width: 100%;
    justify-content: center;
  }
}

.introduction .desktop-view-ikigai-link {
  color: #f3f3f3;
  text-decoration: none;
  position: absolute;
  left: auto;
  right: 29%;
  text-align: center;
  position: absolute;
  bottom: 40px;
}

@media screen and (max-width: 900px) {
  .desktop-view-ikigai-link {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .mobile-view-ikigai-link {
    color: #f3f3f3;
    text-decoration: none;
    position: absolute;
    left: auto;
    right: 41%;
    text-align: center;
    position: absolute;
    bottom: 40px;
  }
}

@media screen and (min-width: 900px) {
  .mobile-view-ikigai-link {
    display: none;
  }
}

.uppercase {
  text-transform: uppercase;
}

.page-title {
  color: #f3f3f3;
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 82px;
}

@media screen and (max-width: 900px) {
  .page-title {
    color: #f3f3f3;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 60px;
  }
}

.page-title-description {
  color: #f3f3f3;
  margin: 0;
  border: 0;
  padding: 500;
  font-size: 30px;
  width: 500px;
}

.aboutme-flexbox {
  display: flex;
  background-color: #236a84;
  color: #f3f3f3;
  justify-content: center;
  min-height: 300px;
}

.aboutme-text {
  padding: 10px;
  margin: 75px 0px 75px 0px;
  height: 100%;
  width: 50%;
}

.oliver-img {
  width: 200px;
  height: 200px;
  border-radius: 50% 10%;
  object-fit: cover;
  overflow: hidden;
  margin: 50px 0px 50px 0px;
  padding: 10px;
  float: left;
}

.portfolio-header {
  background: #333333;
  display: flex;
  color: #f3f3f3;
  width: auto;
  padding: 10px 40px;
}

.portfolio-flexbox {
  height: auto;
  width: auto;
  background: #333333;
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 45px 0;
}

.portfolio-text {
  text-align: center;
  color: #f3f3f3;
  padding: 10px;
  margin: 75px 0px 75px 0px;
  height: 100%;
  width: 50%;
}

.portfolio-flexbox .button {
  display: flex;
  justify-content: center;
  font: bold 16px Arial;
  background-color: #f3f3f3;
  border-radius: 12px;
  color: #333333;
  text-decoration: none;
  padding: 10px;
  margin: 4% 20%;
}

.portfolio-image {
  width: 50vh;
  margin: 10 auto;
}

@media only screen and (max-width: 1020px) {
  .portfolio-image {
    display: flex;
    justify-content: space-around;
    width: 45vh;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1020px) {
  .portfolio-flexbox {
    height: auto;
    width: auto;
    background: #333333;
    display: flex;
    flex-direction: column;
  }
}

.jff {
  background-color: #cecece;
  background-image: url("./images/magic8.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-size: cover;
  width: 100%;
}
.jff-header {
  color: #f3f3f3;
  text-align: center;
  padding: 40px 0px 0px 0px;
}

.flex-container {
  display: flex;
}

.magic8 {
  border-radius: 12px;
  background-color: #236a84;
  padding: 10px;
  color: #f3f3f3;
  text-align: center;
  margin: 50px 20%;
  justify-content: space-around;
}

.magic8-input {
  font: bold 16px Arial;
  background-color: #f3f3f3;
  color: #333333;
  padding: 20px;
  border-radius: 12px;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .magic8-input {
    width: 15vh;
    height: auto;
    font-size: 8px;
  }
}

.magic8-answer {
  justify-content: space-around;
  text-align: center;
  height: 400px;
  margin: 0 auto;
  width: 400px;
  background: rgb(30, 30, 30);
  border-radius: 100%;
  overflow: hidden;
  box-shadow: inset -10px 10px 50px rgba(255, 255, 255, 0.4),
    inset 5px -5px 50px rgba(0, 0, 0, 1),
    inset 50px -50px 200px rgba(0, 0, 0, 1),
    inset 0px -20px 20px rgba(60, 0, 60, 1);
}

@media screen and (max-width: 900px) {
  .magic8-answer {
    display: block;
    width: 25vh;
    height: 25vh;
    font-size: 7px;
  }
}

.magic8-answer p {
  margin: 50px auto 0 auto;
  background-color: white;
  padding: 45px 0px 0px 0px;
  border-radius: 100%;
  width: 40%;
  height: 30%;
  color: #333333;
  box-shadow: inset -10px 10px 50px rgba(255, 255, 255, 0.4),
    inset 5px -5px 50px rgb(138, 138, 138),
    inset 50px -50px 200px rgb(109, 109, 109),
    inset 0px -20px 20px rgb(71, 0, 71);
}

@media screen and (max-width: 900px) {
  .magic8-answer p {
    padding: 20px 0px 0px 0px;
    margin: 20px auto 0 auto;
  }
}

.white8 {
  height: 40%;
  width: auto;
}

@media screen and (max-width: 900px) {
  .white8 {
    height: 40%;
    width: auto;
  }
}

button {
  font: bold 16px Arial;
  background-color: #f3f3f3;
  color: #333333;
  padding: 20px;
  border-radius: 12px;
  text-decoration: none;
}

.missing-question {
  animation: shake 1s;
  animation-iteration-count: inherit;
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
